.estimate-payments {
	display: none;

	&.active {
		display: block;
	}
}

.loans-list {
	background: $primary-color-tint;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		border-left: 2px solid $primary-color-shade;
		color: $white;
		cursor: pointer;
		display: block;
		flex: 1 1 auto;
		font-size: .875rem;
		padding: .5rem;
		text-align: center;
		text-transform: uppercase;

		@include heading-font-bold();
		@include single-transition;

		&:hover, &:active, &:focus {
			background: $primary-color;
		}

		&:first-of-type {
			border-left: none;
		}

		&.add-loan {
			color: $white;
			flex: 0 0 auto;
			text-align: center;
			width: 40px;


		}

		&.active {
			background: $primary-color-shade;
		}
	}
}

.payment-overview {
	background: $gray-color-tint;
	bottom: -100%;
	height: 100%;
	left: 0;
	padding: 1.5rem 1rem 2.5rem;
	position: fixed;
	width: 100%;
	z-index: 15;

	@include single-transition(all, .25s, linear);

	&.view-results {
		bottom: 0;
	}
}

.loan {
	background: $white;
	box-shadow: 1px 1px 3px $off-black;
	padding: 1.25rem .75rem .75rem;

	.estimate-payments {
		position: relative;

		&:first-of-type {
			.remove-loan {
				display: none;
			}
		}
	}
}

.remove-loan {
	position: absolute;
	bottom: -2.5rem;
	left: 0;

	span {
		cursor: pointer;

		&:active {
			color: $alert-color;
		}
	}
}

.loan-overview {
	background: $white;
	box-shadow: 1px 1px 3px $off-black;
	margin-bottom: 1rem;
	padding: .75rem .75rem .5rem;

	.cost {
		border-bottom: 1px dotted $gray-color;
		margin-bottom: .25rem;
		padding-bottom: .25rem;

		&:last-of-type {
			border-bottom: none;
			margin-bottom: 0;
		}

		p, .results {
			margin: 0;
			padding: 0;
		}

		p {
			color: #333;
			font-size: 1rem;
			@include body-font-regular;
		}

		.results {
			color: #555;
			@include body-font-regular;
		}

	}

	.payments {
		cursor: pointer;
		font-size: .875rem;
		text-align: center;

		a {
			&:hover, &:active, &:focus {
				border-bottom: none;
			}
		}
	}


}

.amortization-list {
	.amortization {
		background: $white;
		display: none;
		left: 0;
		height: 100%;
		overflow: auto;
		padding: 1rem;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;
	}
}

.loan-title {
	border-bottom: 2px solid $secondary-color;
	font-size: 1.25rem;
	margin: 0 0 .5rem;
	padding: 0 0 .25rem;

	@include heading-font-regular;
}


html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	flex-direction: column;
}

main {
	background: $gray-color-tint;
	flex: 1;
	padding: 1rem;
}

html, body, .scrollable {
    overflow: auto;
    //-webkit-overflow-scrolling: touch;
}
