.estimate-payments {
	display: none;

	&.active {
		display: block;
	}
}

.loans-list {
	background: $primary-color-tint;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		border-left: 2px solid $primary-color-shade;
		color: $white;
		cursor: pointer;
		display: block;
		flex: 1 1 auto;
		padding: .5rem;

		@include single-transition;

		&:hover, &:active, &:focus {
			background: $primary-color;
		}

		&:first-of-type {
			border-left: none;
		}

		&.add-loan {

			flex: 0 0 auto;
			text-align: center;
			width: 40px;
		}

		&.active {
			background: $primary-color-shade;
		}
	}
}

.payment-overview {
	background: $white;
	bottom: -100%;
	height: 100%;
	left: 0;
	padding: 0 0 2.5rem;
	position: fixed;
	width: 100%;
	z-index: 15;

	@include single-transition(all, .25s, linear);

	&.view-results {
		bottom: 0;
	}
}


html {
	height: 100%;
}

body {
	display: flex;
	height: 100%;
	flex-direction: column;
}

main {
	flex: 1;
	padding: 1rem;
}

html, body, .scrollable {
    overflow: auto;
    //-webkit-overflow-scrolling: touch;
}